@import "/src/features/home-page/homePage";
@import "/src/layout/navbar/navBar";
@import "../variables";
* {
	padding: 0;
	margin: 0;
}
body {
	background-image: linear-gradient(
			rgba(226, 173, 255, 0.617),
			rgba(226, 173, 255, 0.633)
		),
		/* your image */ url("/images/background.png");

	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
}

a {
	text-decoration: none;
}

.global-h1 {
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	text-align: center;
	font-family: $blocky-site-heading;
	font-size: 175%;
	color: $dark-luka-purple;
	text-shadow: 5px 2px $luka-purple;
	margin-top: 4%;
	cursor: default;
}

.global-h4 {
	font-family: "SkipPro-B";
	text-align: center;
}


