@import '../variables';
@import '../mixins';
@import 'global';
@import '/src/components/styles/component-styles';
@import '/src/features/home-page/homePage';
@import '/src/features/create-run/create_run';
@import '/src/features/login/login';
@import '/src/features/register/register';
@import '/src/layout/navbar/navBar';
@import '/src/features/join-run/join-run';

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

//* Removal of default styling
/* Remove default border and padding of fieldset */
fieldset {
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  margin: 0; /* Reset margin if needed */
}

/* Style the legend to remove default padding and margin */
legend {
  padding: 0; /* Remove padding */
  margin: 0; /* Reset margin */
  font-size: inherit; /* Inherit the font size from parent */
  font-weight: inherit; /* Inherit the font weight if needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 8px $darker-kaito-purple; //Soft glow
  border: 2px solid $darker-kaito-purple; //Border, does nothing??
}

a {
  text-decoration: none;
}
// Font size: REM - relative to root font size, most of the time defualts to 16px
// Adapts to user and system preferences
//% for widths
//Dont' got over 75 characters wide!
// ie max-width: 45ch === 45 max characters for a line
//Don't set height, and if you do, set min height
//em for paddign and margin
//rem doesn't grow with the font size, btu em does and makes for a better look cause the buttons are proportional, for example

@media (min-width: $breakpoint-desktop) {
  .no-desktop {
    display: none;
  }

  html,
  body,
  #root {
    overflow: hidden;
  }
}
