.home-page {
	@include flex-center-column;

	margin-top: 10%;
	height: 100%;
}

.container {
	@include flex-center-column;

	font-family: $paragraph-text;
	background: $light-kaito-purple;
	border: 7px solid $kaito-purple;
	width: 85%;
	color: $dark-kaito-purple;
	margin: auto;
	margin-top: auto;
	border-radius: 15px;
	padding: 6%;
	box-shadow: 4px 4px 15px $background-gray;

	.manager-container {
		@include flex-center-column;

		font-size: 1.2rem;
		background-color: $lighter-kaito-purple;
		border-radius: 10px;
		padding: 8%;
		width: 100%;
		margin-top: 8%;

		.card-title {
			font-family: $blocky-site-heading;
			text-align: center;
		}

		.card-text {
			text-align: center;
			font-family: $paragraph-text;
			font-size: 0.75rem;
		}
	}

	.input {
		margin: 0.35em 0;
		width: 100%;
		font-size: 1rem;
		text-align: center;
		background: #fff;
		border: 2px solid $lighter-kaito-purple;
		border-radius: 10px;
		box-sizing: border-box;
		min-width: 50px;
		padding: 0.5em;
	}

	.notice-text {
		font-size: 0.8rem;
	}

	.submit-btn {
		margin-top: 4%;
		width: 30%;
		font-size: 1rem;
		border-radius: 10px;
		background-color: $lighter-kaito-purple;
		border: 5px solid $kaito-purple;
		color: white;
		font-family: $subtitle-font;
	}

	.submit-btn:hover,
	.submit-btn:focus {
		margin-top: 5%;
		color: $dark-kaito-purple;

		--myColor1: rgb(135 84 197);
		--myColor2: rgb(172 113 245);
	}
}

@media (min-width: $breakpoint-desktop) {
	.home-page::before {
		content: "";
		position: absolute;
		inset: 0;
		background: url("/card-backgrounds/home.png");
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	.home-page {
		margin: 0%;

		@include flex-center-row;

		min-height: 100vh;
		z-index: 1;

		.title-container {
			@include flex-center-column("flex-start");
		}

		.container {
			justify-content: space-around;
			background-color: $kaito-purple-30;
			margin-right: 12%;
			max-height: 80%;
			width: 25%;
			padding: 20px;
			margin-top: 2%;
			border: none;
			box-shadow: none;
		}

		.manager-container {
			width: 80%;
			padding: 6%;
			margin-top: 4%;
			margin-bottom: 2%;
		}

		.container-title {
			display: none;
		}

		.notice-text {
			color: white;
		}

		.link {
			font-size: 1rem;
			color: $light-kaito-purple;
		}
	}

	.home-title-2 {
		display: block;
		font-size: 8rem;
		color: white;
		padding-left: 2%;
		margin-left: 4%;
		font-family: $blocky-site-heading;
		text-shadow: 4px 2px 3px $dark-kaito-purple;
	}

	.home-title {
		margin-top: 40%;
		display: block;
		color: white;
		font-size: $page-heading-size;
		padding-left: 4%;
		margin-left: 4%;
		font-family: $blocky-site-heading;
		text-shadow: 4px 2px 3px $dark-kaito-purple;
	}
}
