@import "../../styles/variables";

//Mobile styling
.navbar {
	display: flex;
	background: linear-gradient(
		180deg,
		$dark-kaito-purple 0%,
		$kaito-purple 48%,
		$dark-kaito-purple 100%
	);

	img {
		display: none;
	}

	&-link-wrapper {
		width: 100vw;
		height: 100%;
	}

	ul {
		padding: 5px;
		display: flex;
		flex-direction: row;
		width: 100%;
		list-style: none;
		align-items: center;
		justify-content: flex-end;

		li {
			padding: 5px;
			font-family: "Yuruka-UB";
			text-align: center;
			font-size: 0.75rem;
			color: $darkest-kaito-purple;

			a {
				&:active {
					color: $light-kaito-purple;
				}
			}
		}
	}
}

//Desktop
@media (min-width: 1024px) {
	.navbar {
		display: flex;
		background: linear-gradient(
			180deg,
			$dark-kaito-purple 0%,
			$kaito-purple 48%,
			$dark-kaito-purple 100%
		);

		img {
			display: block;
			width: 200px;
			padding: 10px;
		}

		&-link-wrapper {
			width: 100%;
			margin-right: 2%;
			height: 100%;
		}

		ul {
			padding: 10px;
			display: flex;
			flex-direction: row;
			width: 100%;
			list-style: none;
			align-items: center;
			justify-content: flex-end;

			li {
				padding: 20px;
				font-family: "Yuruka-UB";
				text-align: center;
				font-size: 120%;
				color: $darkest-kaito-purple;

				a {
					&:active {
						color: $light-kaito-purple;
					}
				}
			}
		}
	}
}
