.select {
	margin: 0.35em 0;
	width: 100%;
	min-width: 200px;
	font-size: 1rem;
	text-align: center;
	background: #ffffff;
	border: 2px solid $lighter-kaito-purple;
	border-radius: 10px;
	box-sizing: border-box;
	min-width: 50px;
	padding: 0.5em;
}
